* {
    margin: 0;
    font-family: 'Oxygen Mono', monospace;
    scroll-behavior: smooth;
    
    
}
body{
    min-height: 100vh;
    justify-content: center;
}
section div{
    border-radius: 15px;
    max-width: 100%;
    height: 40%;
    align-items: center;
    
}

h2 {
    font-size: 55pt;
    text-align: center;
}

nav {
    background-color: rgb(122, 201, 250);
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav img {
    width: 80px;
    padding-left: 50px;

}

nav ul {
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-size: 15pt;
}

nav ul li {
    list-style: none;
    padding-left: 30px;
    padding-right: 20px;
}

nav ul li a {
    text-decoration: none;
    transition: 0.2s;
    
}
.icone-drop{
    display: none;
}
.hide{
    display: none;
    width: 50%; 
}
.navbar2 ul{
    display: flex;
    flex-direction: column;
}
nav ul li a:hover {
    color: rgb(255, 255, 255);
    border-bottom: solid 2px white;
    font-size: 18pt;
}


.home button:hover{
    background-color: rgb(28, 168, 255);
    height: 40px;
    font-size: 15px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 50px 50px 50px;

}

.imghome img {
    width: 400px;
}

.imghome {
    text-align: center;
}

.txt {
    width: 500px;
   
}

.txt button {
    background-color: rgb(122, 201, 250);
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

.txt2 {
    background-color: rgb(234, 130, 130);
    text-align: justify;
    height: 500px;
    padding: 2% 5% 2% 5%;
    margin: 50px;
    box-shadow: 4px 4px 4px rgb(169, 169, 169);
    
}

.txt3 {
    background-color: rgb(232, 234, 130);
    text-align: justify;
    height: 500px;
    padding: 2% 5% 2% 5%;
    margin: 50px;
    box-shadow: 4px 4px 4px rgb(169, 169, 169);
}
/*carrossel*/
.txt4 img{
    height: 450px;
    width: 450px;
}
.txt4 {
    background-color: rgb(147, 234, 130);
    box-shadow: 4px 4px 4px rgb(169, 169, 169);
    padding: 2% 5% 2% 5%;
    margin: 50px;
    
}
.conteiner{
    position: relative;
    padding: 15px;
    margin: 0px;
    box-sizing: border-box;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 50px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    
  }
  .swiper-pagination{
    height: auto;
  }
/*
.gallery-wrapper{
    overflow-x: auto;
    min-width: 1200px;
    -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
.autoplay{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    padding-left: 10px;
    
}
.arrow-left, .arrow-rigth{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    color: #ffff;
    border: none;
    cursor:pointer;
    background: linear-gradient(to left, transparent 0%, rgb(83, 81, 81) 200%) ;
    opacity: 0.1;
    transition: all 600ms ease-in-out;
    border-radius: 15px;
    
}
.arrow-rigth{
    left: 1200px;
    right: 0;
    background: linear-gradient(to right, transparent 0%, rgb(83, 81, 81) 200%) ;
}

.arrow-left:hover, .arrow-rigth:hover{
    opacity: 1;
}
.item{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
    border-radius: 3%;
}
.current-item{
    opacity: 1;
}
*/



.txt5 {
    display: flex;
    background-color: rgb(250, 224, 224);
    justify-content: center;
    height: auto;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgb(169, 169, 169);
    max-width: 100%;
}

.forms {
    background-color: rgb(142, 130, 234);
    padding: 30px 30px 30px 30px;
    height: 400px;
    width: 400px;

}

.forms input {
    border-radius: 5px;
    width: 400px;
    height: 25px;
}

#txtform{
    height: 100px;
    
}
/*ações do forms*/
#btnenviar{
    background-color: rgb(122, 201, 250);
    border: 0;
    border-radius: 5px;
    height: 35px;
    padding: 10px;
    margin-top: 20px;
    
}

.forms #btnenviar:hover{
    background-color: rgb(28, 168, 255);
    height: 40px;
    font-size: 15px;
}

footer {
    display:flexbox;
    text-align: center;
    height: 30px;
    padding-bottom: 70px;

}

footer img {
    width: 90px;
    height:45px;
    padding-left: 50px;
    justify-content: center;

}

